.shade {
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.shade.is-drawn {
  opacity: 0.5;
  pointer-events: all;
}

.passed {
  color: green;
  content: '✔';
  display: inline-block;
  margin-right: 0.4em;
}

.check {
  color: green;
}

.x {
  color: red;
}
